extends page
block content
  h1 Collections
  .row
    #collectionsList
      h3 Collection List:
      table.table.table-bordered.table-striped.table-hover
        thead
          tr
            th Name
            th Num Docs
        tbody
          - each coll in collections
            tr
              td #{coll.name}
              td #{coll.numDocs}
