doctype 5
html
  head
    title Monglorer
    link(rel='stylesheet', href='/less/bootstrap.css')
    link(rel='stylesheet', href='/less/style.css')
    script(src='js/bootstrap.min.js')
    script(src='http://code.jquery.com/jquery.js')
  body
    block body
